@import "reset.css";

/* Theme */
:root {
    --background-color: #2b2d42;
    --card-background-color: #3a405a;
    --text-color: #f8f9fa;
    --heading-color: #ffffff;
    --accent-color: #ff5f5f;
    --secondary-accent-color: #50c9a3;
    --secondary-accent-active: #3ba687;
    --input-background-color: #44475a;
    --input-text-color: #e5e5e5;
    --border-color: #4b526a;
    --hover-color: #6272a4;
    --shadow-color: rgba(0, 0, 0, 0.4);
}

html { 
    scroll-behavior: smooth; 
    background-color: var(--background-color);
}

#header {
    position: sticky;
    z-index: 9999;
    top: 0;
    background-color: var(--card-background-color);
    color: rgb(245,245,245);
    font-size: 25px;
    padding: 5px;
    justify-content: space-between;
    font-weight: 600;
    user-select: none;
    display: flex;
}

#header-right {
    display: flex;
}

#header-right ul {
    display: flex;
    margin: 0 5px;
    align-items: center;
}

#header-right ul a {
    color: azure;
    font-size: 17px;
    font-weight: 600;
    transition: all ease-in-out 0.15s;
}

#header-right ul a:hover {
    color: var(--hover-color);
}

#hamburger-menu {
    border-radius: 15px;
    display: none;
    font-size: 20px;
    background: none;
    border: 4px solid #4a4f73;
    width: 40px;
    cursor: pointer;
    color: var(--text-color);
}

#mobile-nav {
    position: absolute;
    top: 48px;
    right: 0;
    width: 100%;
    background-color: var(--card-background-color);
    z-index: 1000;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
}

#mobile-nav ul {
    list-style: none;
    padding: 10px;
    padding-top: 0;
    margin: 0;
}

#mobile-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-bottom: 1px solid var(--border-color);
    font-size: 20px;
}

#content {
    padding: 10px;
    background-color: var(--background-color);
    color: rgb(255, 255, 255);
    font-weight: 550;
}

.toolicon {
    height: 50px;
}

.toolWrap {
    margin-top: 15px;
    display: flex;
}

.toolWrap img {
    transition: all ease-in-out 0.25s;
}

.toolWrap img:hover {
    transform: scale(1.2);
}

#toolsets {
    position: relative;
    top: 0;
    margin: 5px auto;
    width: 50%;
    padding: 10px;
    z-index: 30;
}

#toolsets a img {
    position: static;
    top: 0;
    z-index: 30;
}

#toolsets div a {
    margin: 0 auto;
}

#toolsets p {
    text-align: center;
}

#classexTooltip {
    position: absolute;
    z-index: 8888;
    top: 20;
}

@media only screen and (max-width: 800px) {
    #header {
        height: 100%;
    }
    #header-right {
        display: none;
    }

    #hamburger-menu {
        display: block;
    }
    #content {
        margin: 0;
        width: 100%;
    }
}

@media only screen and (min-width:801px) {
    #mobile-nav {
        max-height: 0;
    }
}

#mobile-nav.navVisible {
    max-height: 300px;
}